/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$num-l-0-x: 39px;
$num-l-0-y: 0px;
$num-l-0-offset-x: -39px;
$num-l-0-offset-y: 0px;
$num-l-0-width: 36px;
$num-l-0-height: 46px;
$num-l-0-total-width: 268px;
$num-l-0-total-height: 218px;
$num-l-0-image: '/static/build/sprites-html/numbers.png';
$num-l-0: 39px 0px -39px 0px 36px 46px 268px 218px '/static/build/sprites-html/numbers.png';
$num-l-1-x: 185px;
$num-l-1-y: 84px;
$num-l-1-offset-x: -185px;
$num-l-1-offset-y: -84px;
$num-l-1-width: 26px;
$num-l-1-height: 46px;
$num-l-1-total-width: 268px;
$num-l-1-total-height: 218px;
$num-l-1-image: '/static/build/sprites-html/numbers.png';
$num-l-1: 185px 84px -185px -84px 26px 46px 268px 218px '/static/build/sprites-html/numbers.png';
$num-l-2-x: 76px;
$num-l-2-y: 48px;
$num-l-2-offset-x: -76px;
$num-l-2-offset-y: -48px;
$num-l-2-width: 36px;
$num-l-2-height: 46px;
$num-l-2-total-width: 268px;
$num-l-2-total-height: 218px;
$num-l-2-image: '/static/build/sprites-html/numbers.png';
$num-l-2: 76px 48px -76px -48px 36px 46px 268px 218px '/static/build/sprites-html/numbers.png';
$num-l-3-x: 115px;
$num-l-3-y: 48px;
$num-l-3-offset-x: -115px;
$num-l-3-offset-y: -48px;
$num-l-3-width: 35px;
$num-l-3-height: 46px;
$num-l-3-total-width: 268px;
$num-l-3-total-height: 218px;
$num-l-3-image: '/static/build/sprites-html/numbers.png';
$num-l-3: 115px 48px -115px -48px 35px 46px 268px 218px '/static/build/sprites-html/numbers.png';
$num-l-4-x: 0px;
$num-l-4-y: 48px;
$num-l-4-offset-x: 0px;
$num-l-4-offset-y: -48px;
$num-l-4-width: 36px;
$num-l-4-height: 46px;
$num-l-4-total-width: 268px;
$num-l-4-total-height: 218px;
$num-l-4-image: '/static/build/sprites-html/numbers.png';
$num-l-4: 0px 48px 0px -48px 36px 46px 268px 218px '/static/build/sprites-html/numbers.png';
$num-l-5-x: 38px;
$num-l-5-y: 48px;
$num-l-5-offset-x: -38px;
$num-l-5-offset-y: -48px;
$num-l-5-width: 36px;
$num-l-5-height: 46px;
$num-l-5-total-width: 268px;
$num-l-5-total-height: 218px;
$num-l-5-image: '/static/build/sprites-html/numbers.png';
$num-l-5: 38px 48px -38px -48px 36px 46px 268px 218px '/static/build/sprites-html/numbers.png';
$num-l-6-x: 115px;
$num-l-6-y: 0px;
$num-l-6-offset-x: -115px;
$num-l-6-offset-y: 0px;
$num-l-6-width: 35px;
$num-l-6-height: 46px;
$num-l-6-total-width: 268px;
$num-l-6-total-height: 218px;
$num-l-6-image: '/static/build/sprites-html/numbers.png';
$num-l-6: 115px 0px -115px 0px 35px 46px 268px 218px '/static/build/sprites-html/numbers.png';
$num-l-7-x: 0px;
$num-l-7-y: 0px;
$num-l-7-offset-x: 0px;
$num-l-7-offset-y: 0px;
$num-l-7-width: 37px;
$num-l-7-height: 46px;
$num-l-7-total-width: 268px;
$num-l-7-total-height: 218px;
$num-l-7-image: '/static/build/sprites-html/numbers.png';
$num-l-7: 0px 0px 0px 0px 37px 46px 268px 218px '/static/build/sprites-html/numbers.png';
$num-l-8-x: 77px;
$num-l-8-y: 0px;
$num-l-8-offset-x: -77px;
$num-l-8-offset-y: 0px;
$num-l-8-width: 36px;
$num-l-8-height: 46px;
$num-l-8-total-width: 268px;
$num-l-8-total-height: 218px;
$num-l-8-image: '/static/build/sprites-html/numbers.png';
$num-l-8: 77px 0px -77px 0px 36px 46px 268px 218px '/static/build/sprites-html/numbers.png';
$num-l-9-x: 0px;
$num-l-9-y: 96px;
$num-l-9-offset-x: 0px;
$num-l-9-offset-y: -96px;
$num-l-9-width: 35px;
$num-l-9-height: 46px;
$num-l-9-total-width: 268px;
$num-l-9-total-height: 218px;
$num-l-9-image: '/static/build/sprites-html/numbers.png';
$num-l-9: 0px 96px 0px -96px 35px 46px 268px 218px '/static/build/sprites-html/numbers.png';
$num-l-comma-x: 218px;
$num-l-comma-y: 0px;
$num-l-comma-offset-x: -218px;
$num-l-comma-offset-y: 0px;
$num-l-comma-width: 22px;
$num-l-comma-height: 46px;
$num-l-comma-total-width: 268px;
$num-l-comma-total-height: 218px;
$num-l-comma-image: '/static/build/sprites-html/numbers.png';
$num-l-comma: 218px 0px -218px 0px 22px 46px 268px 218px '/static/build/sprites-html/numbers.png';
$num-m-0-x: 185px;
$num-m-0-y: 42px;
$num-m-0-offset-x: -185px;
$num-m-0-offset-y: -42px;
$num-m-0-width: 31px;
$num-m-0-height: 40px;
$num-m-0-total-width: 268px;
$num-m-0-total-height: 218px;
$num-m-0-image: '/static/build/sprites-html/numbers.png';
$num-m-0: 185px 42px -185px -42px 31px 40px 268px 218px '/static/build/sprites-html/numbers.png';
$num-m-1-x: 32px;
$num-m-1-y: 144px;
$num-m-1-offset-x: -32px;
$num-m-1-offset-y: -144px;
$num-m-1-width: 23px;
$num-m-1-height: 40px;
$num-m-1-total-width: 268px;
$num-m-1-total-height: 218px;
$num-m-1-image: '/static/build/sprites-html/numbers.png';
$num-m-1: 32px 144px -32px -144px 23px 40px 268px 218px '/static/build/sprites-html/numbers.png';
$num-m-2-x: 37px;
$num-m-2-y: 96px;
$num-m-2-offset-x: -37px;
$num-m-2-offset-y: -96px;
$num-m-2-width: 32px;
$num-m-2-height: 40px;
$num-m-2-total-width: 268px;
$num-m-2-total-height: 218px;
$num-m-2-image: '/static/build/sprites-html/numbers.png';
$num-m-2: 37px 96px -37px -96px 32px 40px 268px 218px '/static/build/sprites-html/numbers.png';
$num-m-3-x: 152px;
$num-m-3-y: 84px;
$num-m-3-offset-x: -152px;
$num-m-3-offset-y: -84px;
$num-m-3-width: 31px;
$num-m-3-height: 40px;
$num-m-3-total-width: 268px;
$num-m-3-total-height: 218px;
$num-m-3-image: '/static/build/sprites-html/numbers.png';
$num-m-3: 152px 84px -152px -84px 31px 40px 268px 218px '/static/build/sprites-html/numbers.png';
$num-m-4-x: 71px;
$num-m-4-y: 96px;
$num-m-4-offset-x: -71px;
$num-m-4-offset-y: -96px;
$num-m-4-width: 32px;
$num-m-4-height: 40px;
$num-m-4-total-width: 268px;
$num-m-4-total-height: 218px;
$num-m-4-image: '/static/build/sprites-html/numbers.png';
$num-m-4: 71px 96px -71px -96px 32px 40px 268px 218px '/static/build/sprites-html/numbers.png';
$num-m-5-x: 105px;
$num-m-5-y: 96px;
$num-m-5-offset-x: -105px;
$num-m-5-offset-y: -96px;
$num-m-5-width: 32px;
$num-m-5-height: 40px;
$num-m-5-total-width: 268px;
$num-m-5-total-height: 218px;
$num-m-5-image: '/static/build/sprites-html/numbers.png';
$num-m-5: 105px 96px -105px -96px 32px 40px 268px 218px '/static/build/sprites-html/numbers.png';
$num-m-6-x: 152px;
$num-m-6-y: 42px;
$num-m-6-offset-x: -152px;
$num-m-6-offset-y: -42px;
$num-m-6-width: 31px;
$num-m-6-height: 40px;
$num-m-6-total-width: 268px;
$num-m-6-total-height: 218px;
$num-m-6-image: '/static/build/sprites-html/numbers.png';
$num-m-6: 152px 42px -152px -42px 31px 40px 268px 218px '/static/build/sprites-html/numbers.png';
$num-m-7-x: 152px;
$num-m-7-y: 0px;
$num-m-7-offset-x: -152px;
$num-m-7-offset-y: 0px;
$num-m-7-width: 31px;
$num-m-7-height: 40px;
$num-m-7-total-width: 268px;
$num-m-7-total-height: 218px;
$num-m-7-image: '/static/build/sprites-html/numbers.png';
$num-m-7: 152px 0px -152px 0px 31px 40px 268px 218px '/static/build/sprites-html/numbers.png';
$num-m-8-x: 185px;
$num-m-8-y: 0px;
$num-m-8-offset-x: -185px;
$num-m-8-offset-y: 0px;
$num-m-8-width: 31px;
$num-m-8-height: 40px;
$num-m-8-total-width: 268px;
$num-m-8-total-height: 218px;
$num-m-8-image: '/static/build/sprites-html/numbers.png';
$num-m-8: 185px 0px -185px 0px 31px 40px 268px 218px '/static/build/sprites-html/numbers.png';
$num-m-9-x: 0px;
$num-m-9-y: 144px;
$num-m-9-offset-x: 0px;
$num-m-9-offset-y: -144px;
$num-m-9-width: 30px;
$num-m-9-height: 40px;
$num-m-9-total-width: 268px;
$num-m-9-total-height: 218px;
$num-m-9-image: '/static/build/sprites-html/numbers.png';
$num-m-9: 0px 144px 0px -144px 30px 40px 268px 218px '/static/build/sprites-html/numbers.png';
$num-m-comma-x: 242px;
$num-m-comma-y: 34px;
$num-m-comma-offset-x: -242px;
$num-m-comma-offset-y: -34px;
$num-m-comma-width: 19px;
$num-m-comma-height: 40px;
$num-m-comma-total-width: 268px;
$num-m-comma-total-height: 218px;
$num-m-comma-image: '/static/build/sprites-html/numbers.png';
$num-m-comma: 242px 34px -242px -34px 19px 40px 268px 218px '/static/build/sprites-html/numbers.png';
$num-s-0-x: 29px;
$num-s-0-y: 186px;
$num-s-0-offset-x: -29px;
$num-s-0-offset-y: -186px;
$num-s-0-width: 27px;
$num-s-0-height: 32px;
$num-s-0-total-width: 268px;
$num-s-0-total-height: 218px;
$num-s-0-image: '/static/build/sprites-html/numbers.png';
$num-s-0: 29px 186px -29px -186px 27px 32px 268px 218px '/static/build/sprites-html/numbers.png';
$num-s-1-x: 242px;
$num-s-1-y: 76px;
$num-s-1-offset-x: -242px;
$num-s-1-offset-y: -76px;
$num-s-1-width: 20px;
$num-s-1-height: 32px;
$num-s-1-total-width: 268px;
$num-s-1-total-height: 218px;
$num-s-1-image: '/static/build/sprites-html/numbers.png';
$num-s-1: 242px 76px -242px -76px 20px 32px 268px 218px '/static/build/sprites-html/numbers.png';
$num-s-2-x: 58px;
$num-s-2-y: 186px;
$num-s-2-offset-x: -58px;
$num-s-2-offset-y: -186px;
$num-s-2-width: 27px;
$num-s-2-height: 32px;
$num-s-2-total-width: 268px;
$num-s-2-total-height: 218px;
$num-s-2-image: '/static/build/sprites-html/numbers.png';
$num-s-2: 58px 186px -58px -186px 27px 32px 268px 218px '/static/build/sprites-html/numbers.png';
$num-s-3-x: 203px;
$num-s-3-y: 186px;
$num-s-3-offset-x: -203px;
$num-s-3-offset-y: -186px;
$num-s-3-width: 27px;
$num-s-3-height: 32px;
$num-s-3-total-width: 268px;
$num-s-3-total-height: 218px;
$num-s-3-image: '/static/build/sprites-html/numbers.png';
$num-s-3: 203px 186px -203px -186px 27px 32px 268px 218px '/static/build/sprites-html/numbers.png';
$num-s-4-x: 116px;
$num-s-4-y: 186px;
$num-s-4-offset-x: -116px;
$num-s-4-offset-y: -186px;
$num-s-4-width: 27px;
$num-s-4-height: 32px;
$num-s-4-total-width: 268px;
$num-s-4-total-height: 218px;
$num-s-4-image: '/static/build/sprites-html/numbers.png';
$num-s-4: 116px 186px -116px -186px 27px 32px 268px 218px '/static/build/sprites-html/numbers.png';
$num-s-5-x: 145px;
$num-s-5-y: 186px;
$num-s-5-offset-x: -145px;
$num-s-5-offset-y: -186px;
$num-s-5-width: 27px;
$num-s-5-height: 32px;
$num-s-5-total-width: 268px;
$num-s-5-total-height: 218px;
$num-s-5-image: '/static/build/sprites-html/numbers.png';
$num-s-5: 145px 186px -145px -186px 27px 32px 268px 218px '/static/build/sprites-html/numbers.png';
$num-s-6-x: 0px;
$num-s-6-y: 186px;
$num-s-6-offset-x: 0px;
$num-s-6-offset-y: -186px;
$num-s-6-width: 27px;
$num-s-6-height: 32px;
$num-s-6-total-width: 268px;
$num-s-6-total-height: 218px;
$num-s-6-image: '/static/build/sprites-html/numbers.png';
$num-s-6: 0px 186px 0px -186px 27px 32px 268px 218px '/static/build/sprites-html/numbers.png';
$num-s-7-x: 174px;
$num-s-7-y: 186px;
$num-s-7-offset-x: -174px;
$num-s-7-offset-y: -186px;
$num-s-7-width: 27px;
$num-s-7-height: 32px;
$num-s-7-total-width: 268px;
$num-s-7-total-height: 218px;
$num-s-7-image: '/static/build/sprites-html/numbers.png';
$num-s-7: 174px 186px -174px -186px 27px 32px 268px 218px '/static/build/sprites-html/numbers.png';
$num-s-8-x: 242px;
$num-s-8-y: 0px;
$num-s-8-offset-x: -242px;
$num-s-8-offset-y: 0px;
$num-s-8-width: 26px;
$num-s-8-height: 32px;
$num-s-8-total-width: 268px;
$num-s-8-total-height: 218px;
$num-s-8-image: '/static/build/sprites-html/numbers.png';
$num-s-8: 242px 0px -242px 0px 26px 32px 268px 218px '/static/build/sprites-html/numbers.png';
$num-s-9-x: 87px;
$num-s-9-y: 186px;
$num-s-9-offset-x: -87px;
$num-s-9-offset-y: -186px;
$num-s-9-width: 27px;
$num-s-9-height: 32px;
$num-s-9-total-width: 268px;
$num-s-9-total-height: 218px;
$num-s-9-image: '/static/build/sprites-html/numbers.png';
$num-s-9: 87px 186px -87px -186px 27px 32px 268px 218px '/static/build/sprites-html/numbers.png';
$num-s-comma-x: 242px;
$num-s-comma-y: 110px;
$num-s-comma-offset-x: -242px;
$num-s-comma-offset-y: -110px;
$num-s-comma-width: 18px;
$num-s-comma-height: 32px;
$num-s-comma-total-width: 268px;
$num-s-comma-total-height: 218px;
$num-s-comma-image: '/static/build/sprites-html/numbers.png';
$num-s-comma: 242px 110px -242px -110px 18px 32px 268px 218px '/static/build/sprites-html/numbers.png';
$num-x-x: 57px;
$num-x-y: 144px;
$num-x-offset-x: -57px;
$num-x-offset-y: -144px;
$num-x-width: 30px;
$num-x-height: 30px;
$num-x-total-width: 268px;
$num-x-total-height: 218px;
$num-x-image: '/static/build/sprites-html/numbers.png';
$num-x: 57px 144px -57px -144px 30px 30px 268px 218px '/static/build/sprites-html/numbers.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
