footer.c-footer
    .c-footer__container
        svg.c-footer__skull(x='0px', y='0px', viewbox='0 0 340 340', style='enable-background:new 0 0 340 340;')
            path(style='fill:#460000;', d='M244.083,95.649c2.643,2.64,5.108,5.375,7.418,8.182l57.291-57.344 c0.411,0.493,0.822,0.946,1.238,1.36c3.298,3.295,7.303,4.944,12.009,4.944c4.706,0,8.708-1.649,12.009-4.944 C337.351,44.55,339,40.551,339,35.853c0-4.698-1.649-8.694-4.952-11.993c-3.301-3.296-7.303-4.945-12.009-4.945 c-0.827,0-1.611,0.043-2.353,0.126c0.082-0.662,0.123-1.363,0.123-2.103c0-4.697-1.649-8.694-4.952-11.993 C311.556,1.65,307.554,0,302.849,0s-8.71,1.65-12.008,4.945c-3.303,3.299-4.952,7.295-4.952,11.993 c0,4.697,1.649,8.695,4.952,11.994c0.329,0.329,0.701,0.657,1.112,0.987L234.66,87.266 C237.899,89.843,241.049,92.62,244.083,95.649z M17.963,52.791c4.703,0,8.705-1.649,12.009-4.944 c0.165-0.165,0.329-0.33,0.496-0.496l58.275,58.331c2.725-3.463,5.689-6.816,8.91-10.032c2.453-2.45,4.976-4.746,7.562-6.901 L47.182,30.661c0.66-0.493,1.32-1.072,1.98-1.729c3.303-3.299,4.952-7.297,4.952-11.994c0-4.697-1.649-8.694-4.952-11.993 C45.859,1.65,41.857,0,37.154,0c-4.706,0-8.71,1.65-12.011,4.945c-0.414,0.414-0.825,0.865-1.238,1.36 c-2.476,3.05-3.714,6.593-3.714,10.632c0,0.741,0.041,1.442,0.123,2.103c-0.742-0.083-1.526-0.126-2.35-0.126 c-4.21,0-7.842,1.318-10.896,3.956c-0.411,0.33-0.783,0.66-1.115,0.989C2.652,27.159,1,31.155,1,35.853 c0,4.697,1.652,8.697,4.952,11.993C9.253,51.142,13.258,52.791,17.963,52.791z M97.653,241.87 c-2.972-2.967-5.711-6.044-8.249-9.211l-58.936,58.991c-0.167-0.166-0.331-0.331-0.496-0.496 c-3.303-3.295-7.305-4.946-12.009-4.946c-4.706,0-8.71,1.651-12.011,4.946C2.652,294.452,1,298.45,1,303.148 c0,4.697,1.652,8.695,4.952,11.994c0.331,0.33,0.704,0.658,1.115,0.987c3.054,2.64,6.686,3.958,10.896,3.958 c0.825,0,1.608-0.044,2.35-0.126c-0.082,0.662-0.123,1.362-0.123,2.102c0,4.037,1.238,7.583,3.714,10.632 c0.414,0.494,0.825,0.947,1.238,1.36c3.301,3.296,7.305,4.945,12.011,4.945c4.703,0,8.705-1.649,12.009-4.945 c3.303-3.295,4.952-7.295,4.952-11.992c0-4.699-1.649-8.695-4.952-11.994c-0.66-0.659-1.32-1.236-1.98-1.728l58.856-58.911 C103.16,247.083,100.358,244.571,97.653,241.87z M322.039,286.209c-4.706,0-8.71,1.651-12.009,4.946 c-0.416,0.414-0.827,0.865-1.238,1.36l-57.963-58.017c-2.113,2.52-4.353,4.982-6.746,7.372c-3.285,3.281-6.704,6.293-10.237,9.051 l58.106,58.161c-0.411,0.33-0.783,0.66-1.112,0.988c-3.303,3.299-4.952,7.295-4.952,11.994c0,4.697,1.649,8.696,4.952,11.992 c3.298,3.296,7.303,4.945,12.008,4.945s8.708-1.649,12.008-4.945c3.303-3.295,4.952-7.295,4.952-11.992 c0-0.741-0.041-1.441-0.123-2.102c0.742,0.081,1.526,0.126,2.353,0.126c4.706,0,8.708-1.65,12.009-4.945 c3.303-3.299,4.952-7.297,4.952-11.994c0-4.697-1.649-8.695-4.952-11.993C330.747,287.86,326.745,286.209,322.039,286.209z M199.083,315.471c-0.012,0-0.037,0.012-0.05,0.012c-6.24,0.916-12.567,1.583-18.782,1.991c-0.025,0.013-0.037,0.013-0.062,0.013 c-8.196,0.42-16.491,0.283-24.675-0.384c-6.178-0.495-12.443-1.298-18.608-2.386c-0.012,0-0.025,0-0.037,0 c-1.188-0.223-2.365-0.445-3.553-0.693c1.411,2.56,3.145,4.834,5.175,6.812c0.037,0.037,0.074,0.074,0.099,0.112 c0.012,0.012,0.025,0.024,0.037,0.036c0.446,0.445,0.929,0.89,1.449,1.336c8.035,7.17,16.974,10.669,27.349,10.743H170 c10.326-0.074,19.277-3.56,27.349-10.656l1.411-1.422c0.025-0.012,0.049-0.036,0.062-0.062c0.037-0.025,0.062-0.049,0.087-0.086 c1.882-1.83,3.516-3.919,4.89-6.268c-1.548,0.309-3.083,0.606-4.606,0.889C199.157,315.459,199.12,315.471,199.083,315.471z M137.104,288.742c-2.761-0.507-5.547-1.063-8.295-1.681c-0.557,7.665,0,14.378,1.647,20.028c1.424,0.321,2.872,0.63,4.309,0.928 L137.104,288.742z M140.868,309.117c3.999,0.643,8.023,1.163,12.034,1.546l1.411-19.633c-3.689-0.334-7.404-0.754-11.093-1.286 L140.868,309.117z M159.068,311.169c5.869,0.384,11.774,0.47,17.643,0.272l-1.411-19.805c-4.915,0.16-9.88,0.098-14.808-0.173 L159.068,311.169z M195.146,309.785l-2.451-19.398c-3.751,0.433-7.503,0.754-11.205,0.977l1.411,19.72 C186.962,310.761,191.072,310.329,195.146,309.785z M198.823,289.534l2.439,19.237c1.857-0.358,3.727-0.729,5.596-1.112 c1.709-5.65,2.328-12.364,1.832-20.017C205.41,288.346,202.116,288.977,198.823,289.534z M195.839,266.081l2.204,17.309 c3.343-0.569,6.698-1.212,10.041-1.941c-0.718-5.502-1.931-11.51-3.652-17.902C201.621,264.51,198.749,265.351,195.839,266.081z M274.681,170.154c39.409-5.984,40.548-12.092,40.548-12.771c0-0.693-1.139-6.912-40.572-12.895 c-3.467-0.557-7.094-1.051-10.821-1.459c-0.074,0-0.148-0.013-0.223-0.025c-26.272-3.338-57.46-5.032-92.746-5.032 c-35.323,0-66.535,1.694-92.77,5.032c-0.074,0.012-0.136,0.025-0.21,0.025c-3.752,0.42-7.354,0.902-10.772,1.459 c-39.47,5.983-40.61,12.202-40.61,12.895c0,0.679,1.139,6.787,40.585,12.771c1.102,0.161,2.241,0.321,3.38,0.482 c-0.012-0.63-0.012-1.261-0.012-1.879c0-4.463,0.26-8.902,0.768-13.216c0.161-1.409,1.275-2.534,2.687-2.708 c27.548-3.462,60.172-5.217,96.955-5.217c36.784,0,69.408,1.756,96.955,5.217c1.411,0.173,2.526,1.298,2.687,2.708 c0.508,4.289,0.768,8.741,0.768,13.216c0,0.618,0,1.249-0.012,1.879C272.415,170.475,273.554,170.314,274.681,170.154z M259.613,136.291c-1.114-3.091-2.402-6.12-3.838-9.038c-24.49-2.732-53.04-4.117-84.909-4.117s-60.419,1.384-84.909,4.117 c-1.436,2.918-2.724,5.935-3.838,9.038c25.43-2.98,55.269-4.5,88.747-4.5C204.332,131.791,234.158,133.299,259.613,136.291z M89.598,120.651c23.734-2.448,51.034-3.696,81.268-3.696c30.234,0,57.534,1.248,81.269,3.696 c-3.962-6.516-8.865-12.698-14.622-18.446c-18.287-18.273-40.709-27.532-66.647-27.532c-25.938,0-48.36,9.259-66.647,27.532 C98.463,107.954,93.56,114.136,89.598,120.651z M179.868,268.701l1.176,16.493c3.603-0.21,7.23-0.532,10.871-0.94l-2.154-16.851 C186.529,268.009,183.223,268.442,179.868,268.701z M173.689,268.997c-3.888,0.075-7.763-0.012-11.49-0.308l-1.263,16.616 c4.643,0.247,9.298,0.296,13.916,0.16L173.689,268.997z M264.962,174.048c0.087-1.793,0.124-3.573,0.124-5.291 c0-3.412-0.161-6.787-0.471-10.089c-26.78-3.227-58.302-4.871-93.749-4.871c-35.447,0-66.969,1.644-93.748,4.871 c-0.31,3.314-0.471,6.702-0.471,10.089c0,1.719,0.037,3.499,0.124,5.291c1.189,23.664,10.425,44.273,27.449,61.26 c8.605,8.592,18.163,15.244,28.402,19.769c0.012,0,0.012,0,0.025,0c3.714,1.668,7.614,3.066,11.564,4.167 c0.012,0.012,0.025,0.012,0.037,0.012c4.915,1.422,10.103,2.436,15.427,2.98c0,0.012,0.012,0.012,0.025,0.012 c5.324,0.581,11.093,0.717,16.727,0.47c5.237-0.235,10.388-0.915,15.303-2.027c0.012,0,0.012,0,0.025,0 c4.68-1.039,9.273-2.399,13.656-4.068c11.675-4.525,22.471-11.695,32.104-21.314C254.537,218.321,263.773,197.712,264.962,174.048 z M146.377,216.294c-5.212,5.279-11.378,7.85-18.844,7.85s-13.681-2.571-18.98-7.875c-5.225-5.205-7.763-11.363-7.763-18.829 c0-7.468,2.551-13.674,7.75-18.941c5.299-5.217,11.514-7.763,18.992-7.763c7.466,0,13.644,2.534,18.856,7.752 c5.311,5.304,7.886,11.497,7.886,18.953C154.276,204.894,151.701,211.051,146.377,216.294z M178.58,241.737 c-2.303,2.312-4.99,3.424-8.209,3.424c-3.132,0-5.782-1.113-8.085-3.424c-2.303-2.3-3.43-4.945-3.43-8.073 c0-3.214,1.127-5.898,3.392-8.16c2.315-2.25,4.965-3.338,8.122-3.338c3.219,0,5.906,1.075,8.209,3.301 c2.229,2.299,3.306,4.983,3.306,8.197C181.886,236.817,180.796,239.462,178.58,241.737z M211.105,224.144 c-7.466,0-13.681-2.571-18.98-7.875c-5.225-5.205-7.763-11.363-7.763-18.829c0-7.468,2.55-13.674,7.75-18.941 c5.299-5.217,11.514-7.763,18.992-7.763c7.466,0,13.644,2.534,18.856,7.752c5.312,5.304,7.887,11.497,7.887,18.953 c0,7.455-2.575,13.611-7.899,18.854C224.736,221.573,218.57,224.144,211.105,224.144z M156.047,268.034 c-3.405-0.457-6.76-1.101-10.016-1.904l-2.068,17.469c3.591,0.52,7.206,0.94,10.808,1.261L156.047,268.034z M137.847,282.598 l2.154-18.15c-2.241-0.692-4.457-1.483-6.624-2.349c-1.894,6.738-3.207,13.017-3.95,18.767 C132.226,281.497,135.036,282.078,137.847,282.598z')
        dl.c-footer__desc
            dt タイトル
            dd ONE PIECE サウザンドストーム
            dt ジャンル
            dd 海賊共闘RPG
            dt 価格
            dd ダウンロード無料・一部アイテム課金
            dt プレイ人数
            dd 3人（最大3人マルチプレイ可）
            dt メーカー
            dd バンダイナムコエンターテインメント
            dt 配信プラットフォーム
            dd App Store, Google Play™
            dd.note
                | AppleおよびAppleロゴは米国その他の国で登録されたApple Inc.の商標です。
                br
                | App StoreはApple Inc.のサービスマークです。
                br
                | Android、Google Play、Google Play ロゴはGoogle Inc.の商標です。
                br
                | ※一部非対応機種がございます。
        .c-footer__icon
        a.c-footer__link(href="https://onepiece-ts.bn-ent.net" target="_blank") 公式サイトへ
        .c-footer__copyright
            | ©尾田栄一郎/集英社・フジテレビ・東映アニメーション
            br
            | ©BANDAI NAMCO Entertainment Inc.

    script.
        var platform = (function () {
            if ((/iPhone|iPad|iPod/i).test(navigator.userAgent)) {
                return 'ios';
            }
            if ((/Android|BlackBerry/i).test(navigator.userAgent)) {
                return 'android';
            }
            return false;
        })();
        if (platform == 'ios' || platform == 'android') {
            document.write('<script src="https://www.bandainamcogames.co.jp/common/sp/include/products/utf8/black/footer04.js"><\/script>');
        } else {
            document.write('<script src="https://www.bandainamcogames.co.jp/common/include/products/utf8/black/footer04.js"><\/script>');
        }
