<!-- Score total Begin -->
span.o-digit.o-digit--4
span.o-digit.o-digit--comma
span.o-digit.o-digit--2
span.o-digit.o-digit--8
span.o-digit.o-digit--0
span.o-digit.o-digit--comma
span.o-digit.o-digit--7
span.o-digit.o-digit--9
span.o-digit.o-digit--3
<!-- Score total End-->
