ul.c-sns
    li.c-sns__item
        a.c-sns__link.c-sns__link--facebook(href=share.facebook) facebook
    li.c-sns__item
        a.c-sns__link.c-sns__link--line(href=share.line) line
    li.c-sns__item
        a.c-sns__link.c-sns__link--twitter(href=share.twitter) twitter
