footer.c-main-footer.o-container
    .c-main-footer__wrap
        p.c-main-footer__btnTop
            img(src="assets/images/top/arrow.png" alt="")
        h3
            img(src="assets/images/top/text_footer.png" alt="")
        p.c-main-footer__boxLogo
            img(src="assets/images/top/ico_game_footer.png" alt="")
            img(src="assets/images/top/logo_footer.png" alt="")
        p.c-main-footer__boxStore
            a.forIos(href="https://c1.app-adforce.jp/ad/p/r?_site=52784&_article=319619&_link=9400851")
                img(src="assets/images/top/ios_btn.png" alt="")
            a.forAndroid(href="https://c1.app-adforce.jp/ad/p/r?_site=52786&_article=319622&_link=9400896")
                img(src="assets/images/top/android_btn.png" alt="")
        .c-main-footer__startGame
            a.c-main-footer__button.forIos(href="mobage-jp-12020519://?_ad_code=ADDNNX02E00050")
                img(src="assets/images/top/btn_footer.png" alt="")
            a.c-main-footer__button.forAndroid(href="mobage-jp-12020519://?_ad_code=ADDNNX02E00050")
                img(src="assets/images/top/btn_footer.png" alt="")
        h3
            img(src="assets/images/top/text_share.png" alt="")
        ul.c-main-footer__iconSocial.footer_shareButton
            li
                a.footer_shareButtonFacebook.js-footer_shareButtonFacebook(href="" target="_blank")
                    img(src="assets/images/top/icon_face.png" alt="")
            li
                a.footer_shareButtonLine.js-footer_shareButtonLine(href="" target="_blank")
                    img(src="assets/images/top/icon_line.png" alt="")
            li
                a.footer_shareButtonTwitter.js-footer_shareButtonTwitter(href="" target="_blank")
                    img(src="assets/images/top/icon_twitter.png" alt="")
        a.c-main-footer__button(href="mailto:campaign@dena.com?subject=【逆転オセロニア】Webキャンペーンに関するお問い合わせ")
            img(src="assets/images/top/btn_footer2.png" alt="")
        .c-main-footer__text
            p.c-main-footer__innerText 
                |©CAPCOM CO., LTD. ALL RIGHTS RESERVED.
            p.c-main-footer__innerText
                |オセロ・Othelloは登録商標です / TM＆© Othello,Co. and MegaHouse
                br
                |Copyright ©DeNA Co.,Ltd. All rights reserved.
                br
                |Apple および Apple ロゴは米国その他の国で登録された Apple Inc. の商標です。
            p.c-main-footer__innerText
                |App Store は Apple Inc. のサービスマークです。
                br
                |Android、Google Play、Google Play ロゴはGoogle Inc. の商標です。
        p.c-main-footer__borderbottom
.loading.js-loading
  .loading_image
    img(src='assets/images/top/loading.gif', alt='loading')        
