extends ../../components/layout.pug

block head
    link(rel="stylesheet" href="../assets/css/terms.css")

block head_script
    script.
        var pageID = "term";


block content
    .o-container
        header.terms__header
            a.terms__header__logo(href="")
            h1.terms__header__title
        main.c-contents.c-contents--terms
            .c-section.c-section--resizable
                h2.c-section__title.c-section__title--terms
                .c-section--resizable__body.c-terms__detail
                    h3.c-terms__detail__title はじめに
                    p.c-terms__detail__text このウェブサイト（以下、「本サイト」）は、株式会社バンダイナムコエンターテインメント（以下、「当社」）が運営するサービス『ONE PIECE サウザンドストーム』のキャンペーンサイトになります。本サイトを利用される前に以下に記載の内容をお読みいただき、ご同意いただいたうえでご参加ください。


                    h3.c-terms__detail__title キャンペーン概要
                    p.c-terms__detail__text 『ONE PIECE サウザンドストーム』（以下、「本ゲーム」）のプレイ状況（プレイヤー全員の総冒険回数）に応じて、本ゲーム内で獲得できる報酬アイテムが、グレードアップされていくキャンペーン（以下、「本キャンペーン」）です。
                    p.c-terms__detail__text
                        span.c-terms__detail__indent ※本キャンペーンへの参加は無料です。
                        span.c-terms__detail__indent ※予告なく配信延期、仕様変更となる場合がございます。
                        span.c-terms__detail__indent ※一部非対応機種がございます。
                        span.c-terms__detail__indent ※ゲーム画像は実際に提供されるものと異なる場合がございます。
                        span.c-terms__detail__indent ※報酬アイテムの配布には時間がかかる場合がございますので、ご了承ください。
                        span.c-terms__detail__indent ※報酬アイテムは本ゲーム内の「メニュー」⇢「プレゼント」から確認できます。
                        span.c-terms__detail__indent ※報酬アイテムは所持上限を超えて獲得しても、加算されません。所持上限については、ゲーム内の「メニュー」→「その他」→「遊び方」の各アイテムの項目をご確認ください。
                        span.c-terms__detail__indent ※報酬アイテムの名称・効果・使用方法については、予告なく変更となる場合がございます。予めご了承ください。
                        span.c-terms__detail__indent ※報酬アイテムの受け取りは、お一人様につき一回のみとなります。
                        span.c-terms__detail__indent ※報酬アイテムを受け取る権利は、他者に譲渡・質入等することができません。

                    h3.c-terms__detail__title キャンペーン開催期間
                    p.c-terms__detail__text 2018/4/9(月) 15:00 ～ 2018/4/19(木) 23:59

                    h3.c-terms__detail__title キャンペーンの報酬アイテム内容
                    p.c-terms__detail__text
                        | ・プレイヤー全員の総冒険回数に応じて、下記の獲得できる報酬アイテムがグレードアップします。
                        br
                    p.c-terms__detail__text
                        | ・START
                        br
                        | オールメダル×222

                    p.c-terms__detail__text
                        | ・総冒険回数100万回
                        br
                        | ★5強化用シーンカード×10
                        br
                        | ★4強化用シーンカード×20

                    p.c-terms__detail__text
                        | ・総冒険回数300万回
                        br
                        | ★5勢力進化用シーンカード(各種)×5
                        br
                        | ★4勢力進化用シーンカード(各種)×10

                    p.c-terms__detail__text
                        | ・総冒険回数500万回
                        br
                        | ★6進化用シーンカード(海王類)×3
                        br
                        | ★5進化用シーンカード(各種)×5

                    p.c-terms__detail__text
                        | ・総冒険回数1000万回
                        br
                        | ★5必殺技強化用シーンカード×1


                    p.c-terms__detail__text
                        | ・総冒険回数1500万回
                        br
                        | ★2鍛錬メダル・黄×1
                        br
                        | ★1鍛錬メダル・黄×3
                        br
                        | ★2鍛錬メダル・青、緑、赤×50
                        br
                        | ★1鍛錬メダル・青、緑、赤×100

                    p.c-terms__detail__text
                        | ・総冒険回数2000万回
                        br
                        | ★5EX必殺技強化用シーンカード×1

                    h3.c-terms__detail__title 報酬アイテムの配布について
                    p.c-terms__detail__text
                        | 報酬アイテムは、4/20(金)15:00頃より順次プレゼントにお送りいたします。
                        br
                        | 配布対象は、5/6(日)23:59までにゲームを開始し、4/20(金)15:00から5/6(日)23:59までにお客様となります。
                        br
                        | 報酬アイテムの受け取り期限は5/13(日)23:59となります。

                    h3.c-terms__detail__title その他
                    p.c-terms__detail__text
                        | ・以下の場合には、報酬アイテムのプレゼントが無効となります。
                        span.c-terms__detail__indent 1. お客様の携帯端末に本ゲームが非対応であった場合
                        span.c-terms__detail__indent 2．スパム行為、譲渡行為などの悪質な挙動が確認された場合
                        span.c-terms__detail__indent 3. その他、当社が不適切な行為と判断した場合。

                    h3.c-terms__detail__title 免責事項
                    p.c-terms__detail__text 本サイトに掲載された情報に基づいてなされた判断を原因として発生したいかなるトラブル・損失・損害に対しても、当社は責任を負いません。また、予告なく本サイトの運営の中断、中止や内容の変更等を行うことがありますが、これらにより生じたいかなるトラブル・損失・損害に対しても当社は責任を負うものではありません。

                    h3.c-terms__detail__title 推奨環境
                    p.c-terms__detail__text
                        span.c-terms__detail__indent ※本サイトの推奨環境となります。本ゲームの推奨環境につきましては各ストアをご確認ください。
                    div.c-terms__detail__sub-title ●スマートフォン、タブレット
                    p.c-terms__detail__text
                        | iOS9.0.2以上
                        br
                        | iPhone 5S以降〜、iPad Pro、iPad Air以降〜、iPad mini2以降〜
                        br
                        | ブラウザ Safari
                        br
                        br
                        | Android 4.2以上(RAM1GB以上)
                        br
                        | ブラウザ Google Chrome
                    div.c-terms__detail__sub-title ●PC
                    p.c-terms__detail__text
                        | Google Chrome 最新版
                        br
                        | Mozilla Firefox 最新版
                        br
                        | Safari 最新版
                        br
                        | Internet Explorer 11以上
                        br
                        br
                        span.c-terms__detail__indent ※ 推奨環境の範囲であっても一部端末でページが正しく表示されない場合がございます。
                        span.c-terms__detail__indent ※ スマートフォン、タブレットは縦表示でご利用ください。横表示でのご利用は推奨しておりません。
                    div.c-terms__detail__sub-title ●JavaScriptについて
                    p.c-terms__detail__text
                        | 本サイトでは、JavaScriptを使用しているページがございます。お使いのブラウザでJavaScript機能を無効にされている場合、正しく機能しない、もしくは正しく表示されないことがあります。ご覧になる際にはブラウザ設定でJavaScriptを有効にしてください。
                        br
                        | 設定方法は各ブラウザのヘルプをご参照ください。
                    div.c-terms__detail__sub-title ●スタイルシートについて
                    p.c-terms__detail__text
                        | 本サイトではスタイルシートを使用しております。お使いの通信端末のブラウザでスタイルシートを無効にされている場合、正しく表示されないことがあります。ご覧になる際にはお使いの通信端末のブラウザ設定でスタイルシートを有効にしてください。
                    div.c-terms__detail__sub-title ●クッキーについて
                    p.c-terms__detail__text
                        | 本サイトでは、クッキー(Cookie)を使用して通信の管理をおこなっております。クッキーの利用が無効になっている場合やクッキーが利用できないブラウザは正しくページを表示できません。ブラウザにてクッキーの使用許可を有効に設定していただいた上でご利用いただきますようお願いいたします。

                    h3.c-terms__detail__title お問い合わせ
                    p.c-terms__detail__text
                        | 本サイトについてのお問い合わせは下記にお願いいたします。
                        br
                        a.u-text--contact(href=href = 'mailto:' + config.mailto + '?subject=' + config.mailSubject) #{config.mailto}

            a.c-terms__back-button(href="../")
            a.banner-2nd(href=config.bannerLink)
            include ../../components/share
            .mail__box
                a.mail__box__link(href=href = 'mailto:' + config.mailto + '?subject=' + config.mailSubject) お問い合わせ
