$text__color--white: #ffffff;
$text__color--black: #000000;
$background__color--main: #ffffff;
$background__color--white: #ffffff;
$background__color--black: #000000;
$background__color--btn: #fffae5;
$background__color--red: #3e0000;
$color--accent: #f75239;
$color-link: #333;
$color-link-hover: #f75239;
$color-brand:#fff;
$color-text:#333;