header {
    display: flex;
    justify-content: center;
    background-image: url(/campaign/memory-battle/assets/images/bg-header.png);
    width: 750px;
    height: 877px;
    position: relative;
    canvas{
        position: absolute;
        top: 0;
        left: 0;
    }
    &::after{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        display: block;
    }
}

.c-header {
    width: 50%;
}

.c-header__link {
    border-top: 3px solid $global-color-branch;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 25px;
    &--active {
        border-top: none;
        background-color: #c1c1c1;
    }
}

.c-header__text {
    margin-left: 10px;
}
